fastapi
uvicorn
python-multipart
llama-index
llama-index-llms-openai
llama-index-embeddings-clip
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-readers-file
pypdf
pandas
openpyxl
docx2txt
Pillow
sentence-transformers
qdrant-client
streamlit
requests
PyMuPDF 
pdfplumber 
Pillow
docling
tabulate